body{
  background: rgba(0 ,0 ,0 ,0.2);
}
.submitInput{
  margin-right: 30px;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 10px 10px 5px #888888;
}
.submitButton{
  padding: 10px;
  border-radius: 2px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 10px 10px 5px #888888;
}
form{
  margin-top: 30px;
  text-align: center;
}
.headerCss1{
  text-align: center;
}
.titleCss{
  font-family: 'Bree Serif', serif;
  color: blue;
}
.pCss{
  font-family: 'Righteous', cursive;
  color: blue;
}
